@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #f6f7f8 4%, #edeef1 25%, #f6f7f8 36%);
  background-size: 1000px 100%;
}

.dark .animate-shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #25272c 4%, #34373e 25%, #282a2f 36%);
  background-size: 1000px 100%;
}
