@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&family=Klee+One&family=Noto+Sans+JP:wght@100..900&family=Yuji+Mai&family=Zen+Old+Mincho&display=swap");

@font-face {
  font-family: "gutsukku";
  src: url("/fonts/gutsukku/gutsukku.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --jap-font-0: "Klee One";
  --jap-font-1: "Kiwi Maru";
  --jap-font-2: "Yuji Mai";
  --jap-font-3: "Noto Sans JP";
  --jap-font-4: "Zen Old Mincho";
  --jap-font-5: "gutsukku";
  --kanji-font: var(--jap-font-0);
}

.kanji-font {
  font-family: var(--kanji-font), "Klee One", "Yuji Mai", "gutsukku";
}

.romaji-font {
  font-family: Avenir, Inter, system-ui, Helvetica, Arial, sans-serif;
}
